@import url('https://fonts.googleapis.com/css2?family=Exo 2:wght@500&display=swap');


.containerDiv {
    border-width: 1px;
    padding: 10px;
    border-color: white;
    border-radius: 5px;
    color: white;
    
    font-family: 'Exo 2', sans-serif;
    max-width: 400px;
}

.niceText {
    font-family: 'Exo 2', sans-serif;
}



.containerDiv2 {
    border-width: 1px;
    padding: 10px;
    border-color: white;
    border-radius: 5px;
    color: white;
    font-family: 'Exo 2', sans-serif;
    max-width: 400px;
}

@media only screen and (max-width: 768px) { 

    .containerDiv {
        border-width: 1px;
        padding: 10px;
        border-color: white;
        border-radius: 5px;
        color: white;
        
        font-family: 'Exo 2', sans-serif;
        max-width: 300px;
    }
    
    .containerDiv2 {
        border-width: 1px;
        padding: 10px;
        border-color: white;
        border-radius: 5px;
        color: white;
        font-family: 'Exo 2', sans-serif;
        max-width: 300px;
    }
}