@import url('https://fonts.googleapis.com/css2?family=Exo 2:wght@500&display=swap');

.firstWordName {
    font-family: 'Exo 2';
    position: fixed; /* Fixed position */
    top: 4vh; /* Adjust based on your design */
    left: 17vw; /* Adjust based on your design */
    color: white;
}

.secondWordName {
    font-family: 'Exo 2';
    position: fixed; /* Fixed position */
    top: 4vh; /* Adjust based on your design */
    left: 22vw; /* Adjust based on your design */
    color: grey;
}

.githubStyle {
    font-family: 'Exo 2';
    position: fixed; /* Fixed position */
    top: 5vh; /* Adjust based on your design */
    right: 17vw; /* Adjust based on your design */
    color: white;
}

.linkedinStyle {
    font-family: 'Exo 2';
    position: fixed; /* Fixed position */
    top: 5vh; /* Adjust based on your design */
    right: 20vw; /* Adjust based on your design */
    color: white;
}

.gmailStyle {
    font-family: 'Exo 2';
    position: fixed; /* Fixed position */
    top: 5vh; /* Adjust based on your design */
    right: 23vw; /* Adjust based on your design */
    color: white;
}

.slogan {
    font-family: 'Exo 2';
    position: fixed; /* Fixed position */
    top: 40vh; /* Adjust based on your design */
    left: 16.75vw; /* Adjust based on your design */
    color: white;
    font-size: 5vh;
}

.sloganBelow {
    font-family: 'Exo 2';
    position: fixed; /* Fixed position */
    top: 45vh; /* Adjust based on your design */
    left: 16.75vw; /* Adjust based on your design */
    color: white;
    font-size: 5vh;
}

.sloganFinal {
    font-family: 'Exo 2';
    position: fixed; /* Fixed position */
    top: 45vh; /* Adjust based on your design */
    left: 34vw; /* Adjust based on your design */
    color: rgb(255, 12, 12); 
    font-size: 5vh;
}

.rotatingLogo {
    font-family: 'Exo 2';
    position: fixed; /* Fixed position */
    top: 55vh; /* Adjust based on your design */
    left: 28vw; /* Adjust based on your design */
    color: rgb(255, 255, 255);

}

.logoText {
    font-family: 'Exo 2';
    position: fixed; /* Fixed position */
    top: 62.5vh; /* Adjust based on your design */
    left: 30.5vw; /* Adjust based on your design */
    color: rgb(255, 255, 255); 
}


.javaLogo {
    font-family: 'Exo 2';
    position: fixed; /* Fixed position */
    top: 55%; /* Adjust based on your design */
    right: 37%; /* Adjust based on your design */
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.avatar {
    bottom: 0vh;
    right: 0vw;
    position: fixed;
    height: 85vh;
    width: 50vw;  
}

.sideBarDiv {
    border-width: 1px;
    padding: 10px;
    border-color: white;
    border-radius: 5px;
    color: white;
    position: fixed;
    left: 2vw;
    top: 45vh;
    font-family: 'Exo 2';
}

