@import url('https://fonts.googleapis.com/css2?family=Exo 2:wght@500&display=swap');

.firstWordName {
    font-family: 'Exo 2';
    color: white;
    padding-right: 6px;
}

.secondWordName {
    font-family: 'Exo 2';
    color: grey;
}

.githubStyle {
    font-family: 'Exo 2';
    color: white;
}

.linkedinStyle {
    font-family: 'Exo 2';
    color: white;
}

.gmailStyle {
    font-family: 'Exo 2';
    color: white;
}

.topDiv {
    top: 3vh;
    padding: '10px';
    padding-left: '10px';
    position: fixed;
    left: 16vw;

}

.topDivLinks {
    top: 5vh;
    display: 'flex';
    flex-direction: 'row';
    position: fixed;
    right: 18vw;
}

.linkPad {
    padding-right: 9px;
}

.slogan {
    font-family: 'Exo 2';
    color: white;
}

.sloganBelow {
    font-family: 'Exo 2';
    color: white;
}

.sloganFinal {
    font-family: 'Exo 2';
    color: rgb(255, 12, 12); 
}

.rotatingLogo {
    font-family: 'Exo 2';
    color: rgb(255, 255, 255);
    left: 425px; 
    position: fixed;
    top: 450px;
}

.logoText {
    font-family: 'Exo 2';
    position: fixed; /* Fixed position */
    top: 62.5%; /* Adjust based on your design */
    left: 30.5%; /* Adjust based on your design */
    color: rgb(255, 255, 255); 
}

.skillsText {
    font-family: 'Exo 2';
    position: fixed; /* Fixed position */
    top: 50%; /* Adjust based on your design */
    right: 37%; /* Adjust based on your design */
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.javaLogo {
    font-family: 'Exo 2';
    position: fixed; /* Fixed position */
    top: 55%; /* Adjust based on your design */
    right: 37%; /* Adjust based on your design */
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.avatar {
    bottom: 0%;
    right: 0%;
    position: fixed;
    height: 80%;
    width: 50%;  
}

.sideBarDiv {
    border-width: 1px;
    padding: 10px;
    border-color: white;
    border-radius: 5px;
    color: white;
    font-family: 'Exo 2';
}

.midDiv {
    display: flex; 
    flex-direction: row;
    padding-top: 37vh;
}

.rotateText {
    margin: 0; 
    font-size: '50px'; 
    font-weight: 'bold'; 
}

.leftPad {
    padding-left: 115px;
}


@media only screen and (max-width: 768px) {

    .leftPad {
        padding-left: 40px;
    }

    .rotateText {
        margin: 0; 
        font-size: '10px'; 
        font-weight: 'bold'; 
    }

    .firstWordName {
        font-family: 'Exo 2';
        color: white;
        padding-right: 6px;
    }
    
    .secondWordName {
        font-family: 'Exo 2';
        color: grey;
    }
    
    .githubStyle {
        font-family: 'Exo 2';
        color: white;
    }
    
    .linkedinStyle {
        font-family: 'Exo 2';
        color: white;
    }
    
    .gmailStyle {
        font-family: 'Exo 2';
        color: white;
    }
    
    .topDiv {
        top: 5vh;
        padding: '10px';
        padding-left: '10px';
        position: fixed;
        left: 4vw;
    
    }
    
    .topDivLinks {
        top: 6vh;
        display: 'flex';
        flex-direction: 'row';
        position: fixed;
        right: 16vw;
    }
    
    .linkPad {
        padding-right: 3px;
    }
    
    .slogan {
        font-family: 'Exo 2';
        color: white;
        font-size: 10px;
    }
    
    .sloganBelow {
        font-family: 'Exo 2';
        color: white;
        font-size: 10px;
    }
    
    .sloganFinal {
        font-family: 'Exo 2';
        color: rgb(255, 12, 12); 
        font-size: 10px;
    }
    
    .rotatingLogo {
        font-family: 'Exo 2';
        position: fixed;
        color: rgb(255, 255, 255); 
        left: 50px;
        bottom: 30px;
    }  
    
    .javaLogo {
        font-family: 'Exo 2';
        position: fixed; /* Fixed position */
        top: 55%; /* Adjust based on your design */
        right: 37%; /* Adjust based on your design */
        color: rgb(255, 255, 255);
        text-decoration: underline;
    }
    
    .avatar {
        bottom: 0%;
        right: 0%;
        position: fixed;
        height: 45%;
        width: 40%;  
    }
    
    .sideBarDiv {
        border-width: 1px;
        padding: 10px;
        border-color: white;
        border-radius: 5px;
        color: white;
        font-family: 'Exo 2';
    }

    .midDiv {
        display: flex; 
        flex-direction: row;
        padding-top: 9vh;
    }
    .p-24 {
        color: white;
    }

}

